<div class="container">
  <h1>Excel Import Graphs</h1>
  <p>This data is taken from excel spreadsheet <a href="excel/SampleData.xlsx" target="_blank"></a> and output to chart.js for manipulation.</p>
  <p>The data represents the total sales for each sales rep.</p>
  <div ng-controller="RepChartCtrl">
    <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series"></canvas>
  </div>



</div>